mixin commentBlock(params={})
    .comment-block&attributes(attributes)
        .comment-block__avatar
            +image(params.avatar_src)
        .comment-block__author= params.author
        .comment-block__last-seen= params.date
        .comment-block__like-button
            +likeButton(params.likes, params.isLiked)
        .comment-block__message= params.message