mixin rateButton(value)
    form.rate-button
        .rate-button__star.material-icons
        .rate-button__star.material-icons
        .rate-button__star.material-icons
        .rate-button__star.material-icons
        .rate-button__star.material-icons