mixin roomList(label)
    .room-list&attributes(attributes)
        +dropdownOutput('Комнаты')
            .room-list__content
                +quantitativeList({bedrooms: 'спальни', beds: 'кровати', bathrooms: 'ванные комнаты'})