doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(src="https://kit.fontawesome.com/68e89d30e0.js" crossorigin="anonymous")
        title Sandbox
    body.body
        header: +header(Object.assign({ fixed: true }))

        main.sandbox
            .main-container
                div(style={position: 'relative', 'z-index': 7})
                    +datePicker()
                //- div(style={position: 'relative', 'z-index': 6})
                //-     +guestList()
                //- .some-block(style={'z-index': 5})
                //-     +dropdownOutput('CLICK')
                //-         .some-block__content
                //-             p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, adipisci!
                //-             p Saepe enim ratione assumenda vero quam est amet, mollitia incidunt.
                //-             p Officiis commodi harum nulla veniam doloribus vel non, vero magnam.

        footer: +footer(Object.assign({}))
