mixin toggle(text, label, inputAttributes={})
    -
        inputAttributes.label = text;
        inputAttributes.toggle = true

    if label
        .toggle&attributes(attributes)
            .toggle__label.title.title_h3= label
            +checkbox(inputAttributes)
    else
        - attributes.class = attributes.class ? ('toggle ' + attributes.class) : attributes.class;
        +checkbox(inputAttributes)&attributes(attributes)