mixin dropdownOutput(placeholder)
    .dropdown-output&attributes(attributes)
        .dropdown-output__display
            +output({ placeholder: placeholder, expandable: true })
        if block
            .dropdown-output__container
                .dropdown-output__shadow
                +hideableBlock({ animation: 'emerging extending-y', yConstraint: 'bottom'  })
                    .dropdown-output__content
                        block