@import '../../globals/styles';

%pagination-item {
    @extend %unselectable;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-decoration: none;
    outline: none;
    // cursor: pointer;
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        display: flex;
    }

    &__hint {
        @extend %font_body;
        color: $third_color_75;
        display: none;
        margin-top: 9px;
    }

    &__btn {
        @extend %pagination-item;
        display: none;
        font-size: 24px;
        background: $second_gradient;
        color: #FFFFFFFF;
    }

    .body_mobile &__btn {
        display: none;
    }

    &__pages {
        @extend %font_additional;
        display: flex;
    }

    &__page,
    &__ellipsis {
        @extend %pagination-item;
        color: $third_color_50;
        outline: none;
        display: none;
    }


    &__ellipsis {
        cursor: unset;
    }

    &__page_first,
    &__page_last {
        display: block;
    }

    &__page_current {
        background: $main_gradient;
        pointer-events: none;
        color: #FFFFFFFF;
        cursor: unset;
    }


    &__shown-item {
        display: block;
    }
}