@import '../../globals/styles';

.button {
    @extend %unselectable;
    @extend %font_additional;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
    height: 44px;

    line-height: 15px;      /* identical to box height */
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: #FFFFFF;

    background-color: transparent;
    background: $main_gradient;
    border: none;
    border-radius: 22px;
    cursor: pointer;

    outline: none;

    &::-moz-focus-inner {
        border: none;
    }

    &_fixed-width {
        padding: 0;
    }

    &_second {
        background: none;
        border: 2px solid $main_color;
        color: $main_color;
    }

    &_third {
        padding: 0;
        line-height: 15px;
        height: auto;
        min-width: auto;
        background: none;
        color: $main_color;
    }

    &:not(&_disabled):hover {
        opacity: 0.5;
    }

    &_disabled {

    }

    &_extended {
        width: 100%;
    }

    &_arrow {
        padding: 0 44px;
    }

    &__arrow-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 44px;
        line-height: 44px;
    }

    &_additional {
        color: $third_color_50;
    }
}