mixin button(text, options={})
    -
        var mods = [];
        var style = {};

        if (options.width) {
            style.width = typeof options.width === 'number' ? options.width + 'px' : options.width;
            mods.push('button_fixed-width');
        }

        if (options.height) {
            style.height = typeof options.height === 'number' ? options.height + 'px' : options.height;
        }

        Object.keys(options).forEach(function(key) {
            if (key === 'type' && typeof options[key] === 'string') {
                mods.push('button_' + options[key]);
            } else if (options[key] === true) {
                mods.push('button_' + key);
            }
        });

        attributes.class = Array.isArray(attributes.class) 
            ? attributes.concat(mods)
            : (typeof attributes === 'string' ? attributes + ' ' : '') + mods.join(' ');

    button(style=style, name=options.name || '').button&attributes(attributes)= text