@import '../_globals/globals';

.button {
    @extend %unselectable;

    display: inline-block;
    position: relative;
    padding: 0 20px;

    line-height: 44px;      /* identical to box height */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: #FFFFFF;

    background-color: transparent;
    background: $primary_gradient;
    border: none;
    border-radius: 22px;
    cursor: pointer;

    outline: none;

    &::-moz-focus-inner {
        border: none;
    }

    &_secondary {
        background: none;
        border: 1px solid $purple;
        color: $purple;
    }

    &_tertiary {
        padding: 0;
        line-height: 15px;
        background: none;
        color: $purple;
    }

    &:not(&_disabled):hover {
        opacity: 0.5;
    }

    &_disabled {

    }

    &_extended {
        width: 100%;
    }

    &_arrow {
        padding: 0 44px;
    }

    &__arrow-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 44px;
        line-height: 44px;
    }

    &_additional {
        color: $dark_shade_50;
    }
}