-
    var pickedRooms = [
        {
            number: 888,
            class: 'люкс',
            price: 9990,
            rating: 5,
            reviewsNumber: 145,
            images: ['./images/room1.jpg', './images/room2.jpg', './images/room3.jpg', './images/room4.jpg']
        },
        {
            number: 840,
            price: 9900,
            rating: 4,
            reviewsNumber: 65,
            images: ['./images/room2.jpg', './images/room1.jpg', './images/room3.jpg', './images/room4.jpg']
        },
        {
            number: 980,
            price: 8500,
            class: 'люкс',
            rating: 3,
            reviewsNumber: 35,
            images: ['./images/room3.jpg', './images/room1.jpg', './images/room2.jpg', './images/room4.jpg']
        },
        {
            number: 856,
            price: 7300,
            rating: 5,
            reviewsNumber: 19,
            images: ['./images/room4.jpg', './images/room2.jpg', './images/room3.jpg', './images/room1.jpg']
        },
        {
            number: 740,
            price: 6000,
            rating: 4,
            reviewsNumber: 44,
            images: ['./images/room5.jpg', './images/room2.jpg', './images/room3.jpg', './images/room4.jpg']
        },
        {
            number: 982,
            price: 5800,
            rating: 3,
            reviewsNumber: 56,
            images: ['./images/room6.jpg', './images/room2.jpg', './images/room3.jpg', './images/room4.jpg']
        },
        {
            number: 678,
            price: 5500,
            rating: 5,
            reviewsNumber: 45,
            images: ['./images/room7.jpg', './images/room2.jpg', './images/room3.jpg', './images/room4.jpg']
        },
        {
            number: 450,
            price: 5300,
            rating: 4,
            reviewsNumber: 39,
            images: ['./images/room8.jpg', './images/room2.jpg', './images/room3.jpg', './images/room4.jpg']
        },
        {
            number: 350,
            price: 5000,
            rating: 3,
            reviewsNumber: 77,
            images: ['./images/room9.jpg', './images/room2.jpg', './images/room3.jpg', './images/room4.jpg']
        },
        {
            number: 666,
            price: 5000,
            rating: 5,
            reviewsNumber: 25,
            images: ['./images/room10.jpg', './images/room2.jpg', './images/room3.jpg', './images/room4.jpg']
        },
        {
            number: 444,
            price: 5000,
            rating: 3,
            reviewsNumber: 15,
            images: ['./images/room11.jpg', './images/room2.jpg', './images/room3.jpg', './images/room4.jpg']
        },
        {
            number:352,
            price: 5000,
            rating: 3,
            reviewsNumber: 55,
            images: ['./images/room12.jpg', './images/room2.jpg', './images/room3.jpg', './images/room4.jpg']
        }
    ];