include ../../common.blocks/input/input.pug

mixin inputText(label, inputAttributes)  
    if label
        .input-text&attributes(attributes)
            .input-text__label.title.title_h3= label
            +input(inputAttributes)
    else
        - attributes.class = attributes.class ? ('input-text ' + attributes.class) : attributes.class;
        +input(inputAttributes)&attributes(attributes)
    