mixin likeButton(number, isLiked)
    -
        if (isLiked) {
            attributes.class = attributes.class ? (attributes.class + ' like-button_liked') : 'like-button_liked'; 
        }
    .like-button&attributes(attributes)
        i.like-button__heart.material-icons favorite_border
        i.like-button__heart.like-button__heart_liked.material-icons favorite
        .like-button__number= number || 0