@import '../_globals/globals';

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Bold.eot');
	src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
		 url('fonts/OpenSans-Bold.ttf') format('truetype'),
		 url('fonts/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Regular.eot');
	src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
		 url('fonts/OpenSans-Regular.ttf') format('truetype'),
		 url('fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
  

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Regular.eot');
	src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Bold.eot');
	src: local('☺'), url('fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('fonts/Quicksand-Regular.eot');
	src: local('☺'), url('fonts/Quicksand-Regular.woff') format('woff'), url('fonts/Quicksand-Regular.ttf') format('truetype'), url('fonts/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('fonts/Quicksand-Bold.eot');
	src: local('☺'), url('fonts/Quicksand-Bold.woff') format('woff'), url('fonts/Quicksand-Bold.ttf') format('truetype'), url('fonts/Quicksand-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

.body {
	@extend %font_body;
	text-transform: none;
	text-decoration: none;
	color: $third_color_75;
    margin: 0;
    background: #FFFFFF;
	padding: 0;
	line-height: 24px;
}