@import '../_globals/globals';

.input {
    @extend %font_body;
    color: $third_color_75;

    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 15px 14px;
    border: 1px solid $third_color_25;
    border-radius: 4px;
    background: #ffffff;
    outline: none;

    &:hover, &:focus {
        border-color: $third_color_50;
    }
    &::placeholder {
        color: $third_color_25;
    }

    &_invalid {
        animation-name: input-invalid-animation;
        animation-duration: .2s;
        animation-iteration-count: 2;
    }
}


@keyframes input-invalid-animation {
    from {
        border-color: $third_color_50;
    }
    to {
        border-color: red;
    }
}