doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 UI
        a(href="cards.html") Cards
        a(href="colorsandtype.html") Colors & type
        a(href="formelements.html") Form elements
        a(href="headersfooters.html") headers & footers
        h1 Website
        a(href="landingpage.html") Landgin page
        a(href="roomdetails.html") Room details
        a(href="searchroompage.html") Search / filters
        