<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title UI Form Elements
    body.body.text
        //- include includes.pug
        //- include ../../../fsd.blocks/logo/logo.pug
        +logo()
        .main-container
            .grid-container
                .grid-container__item
                    .ui-form-element
                        +input('Text field', {type: 'text', placeholder: 'Email'})

                    .ui-form-element.ui-form-element_mt_20
                        +guestList

                    .ui-form-element.ui-form-element_mt_20
                        +roomList

                    .ui-form-element.ui-form-element_mt_20
                        +input('Masked text field', { type: 'date' })

                .grid-container__item
                    .ui-form-element
                        +checkboxButtons()

                    .ui-form-element.ui-form-element_mt_40
                        +genderSelector('Radio buttons')

                    .ui-form-element.ui-form-element_mt_40
                        +toggle('Получать спецпредложения', 'toggle')

                    .ui-form-element.ui-form-element_mt_40
                        .ui-form-element__name.title.title_h3
                            | like button
                        .ui-form-element__group
                            +likeButton(2)
                            +likeButton(12, true)

                    .ui-form-element.ui-form-element_mt_40
                        .ui-form-element__name.title.title_h3
                            | rate button
                        .ui-form-element__group
                            +rateButton()

                .grid-container__item
                    .ui-form-element
                        +priceRange()

                    .ui-form-element.ui-form-element_mt_40
                        .ui-form-element__name.title.title_h3
                            | buttons
                        .ui-form-element__group
                            +button('click me')
                            +button('click me', { type: 'secondary'})
                            +button('click me', { type: 'tertiary' })
                    .ui-form-element.ui-form-element_mt_30
                        +button('Перейти к оплате', { extended: true, arrow: true })

                    .ui-form-element.ui-form-element_mt_40
                        .ui-form-element__name.title.title_h3
                            | pagination
                        .ui-form-element__group
                            +goodsPagination(170, 12)