extends ../layout.pug

block head
    title Headers & Footers

block content
    .hf-page
        .hf-page__logo
            +logo()
        .hf-page__item
            +header({ current: 'about'})
        .hf-page__item
            +header({ user: 'Юлий Цезарь', current: 'about' })
        .hf-page__item
            +footer()
        .hf-page__item
            +footer({ mobile: true })