mixin footer(options={})
    -
        var nav = {
            'main': {
                label: 'Навигация',
                items:[
                    { text: 'О нас', href: '#' },
                    { text: 'Новости', href: '#' },
                    { text: 'Служба поддержки', href: '#' },
                    { text: 'Услуги', href: '#' },
                ],
            },
            'about-us': {
                label: 'О нас',
                items: [
                    { text: 'О сервисе', href: '#' },
                    { text: 'Наша команда', href: '#' },
                    { text: 'Вакансии', href: '#' },
                    { text: 'Инвесторы', href: '#' },
                ]
            },
            'support-service': {
                label: 'Служба поддержки',
                items: [
                    { text: 'Соглашения', href: '#' },
                    { text: 'Сообщества', href: '#' },
                    { text: 'Связь с нами', href: '#' },
                ]
            }
        };

        var classes = [];

        if (options.mobile === true) {
            classes.push('footer_mobile');
        }

    .footer(class=classes)&attributes(attributes)
        .footer__top-bar
            .main-container
                .footer__container
                    .footer__company
                        .footer__company-logo
                            +logo({text: true})
                        .footer__company-info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                    .footer__nav-block
                        each item, key in nav
                            .footer__nav(class=('footer__nav_' + key))
                                .footer__label #{item.label}
                                ul.footer__nav-list
                                    each subItem in item.items
                                        li.footer__nav-item
                                            a.footer__nav-link(href=subItem.href) #{subItem.text}
                    .footer__subscription
                        .footer__label Подписка
                        .footer__subscription-info Получайте специальные предложения и новости сервиса
                        .footer__subscription-field
                            +subscriptionField()
        .footer__bottom-bar
            .main-container
                .footer__container.footer__container_bottom
                    .footer__copyright Copyright&nbsp;©&nbsp;2018&nbsp;Toxin&nbsp;отель. Все&nbsp;права&nbsp;зачищены.
                    .footer__social
                        a(href='#').footer__social-item
                            i.fab.fa-twitter
                        a(href='#').footer__social-item
                            i.fab.fa-facebook-square
                        a(href='#').footer__social-item
                            i.fab.fa-instagram