@import '../../globals/styles';

.quantitative-list {
    padding: 0;

    &__ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__item + &__item {
        padding-top: 7px;
    }
}