mixin quantitativeList(list, name)
    -
        var getName = name ? function(key) {
            return name + '[' + key + ']';
        } : typeof(list) === 'object' ? function(key) {
            return key;
        } : function() {
            return '';
        };

    .quantitative-list&attributes(attributes)
        ul.quantitative-list__ul
            each item, key in list
                -
                    var label = item;
                    var value = 0;

                    if (typeof item === 'object') {
                        label = item.label;
                        value = item.value;
                    }

                li.quantitative-list__item
                    +quantitativeItem({ label: label, value: value, name: getName(key) })