include ../quantitative-item/quantitative-item.pug

mixin quantitativeList(list, name)
    -
        var getName = name ? function(key) {
            return name + '[' + key + ']';
        } : typeof(list) === 'object' ? function(key) {
            return key;
        } : function() {
            return '';
        };

    .quantitative-list&attributes(attributes)
        ul.quantitative-list__ul.title.title_h3
            each label, key in list
                .quantitative-list__item
                    +quantitativeItem({ tag: 'li', label: label, name: getName(key) })