include ../../common.blocks/quantitative-list/quantitative-list.pug
include ../../common.blocks/dropdown/dropdown.pug

mixin guestList(label)
    .guest-list&attributes(attributes)
        .guest-list__label.title.title_h3= label ? label : 'Гости'
        .guest-list__dropdown
            +dropdown('Сколько гостей')
                .guest-list__content
                    +quantitativeList({adults: 'взрослые', children: 'дети', babies: 'младенцы'})
                    .guest-list__btn-container.clearfix
                        .guest-list__reset-btn
                            +button('Очистить', { type: 'tertiary', additional: true })
                        .guest-list__apply-btn
                            +button('Применить', { type: 'tertiary' })