@import '../_globals/globals';

.guest-list {
    &__label {
        margin-bottom: 5px;
    }

    &__content {
        padding: 6px 5px 12px 14px;
    }
    
    &__btn-container {
        // display: flex;
        // justify-content: space-between;
        margin-top: 20px;
        line-height: 15px;
    }

    &__reset-btn {
        float: left;
        color: $dark_shade_50;
    }

    &__apply-btn {
        float: right;
    }
}