@import '../../globals/styles';

.checkbox {
    @extend %unselectable;

    display: block;
    position: relative;
    box-sizing: border-box;
    min-height: 20px;
    padding: 0 0 0 30px;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;

    &__label {
        @extend %font_body;
        display: block;
        line-height: 18px;
        color: $third_color_50;
        white-space: normal;
        cursor: pointer;
    }

    &__postscript {
        @extend %font_additional;
        display: block;
        margin-top: 5px;
        line-height: 14px;
        white-space: normal;
        color: $third_color_50;
    }

    &__input {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        margin: 0;
        padding: 0;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        z-index: 1;

        border: 1px solid $third_color_25;
        border-radius: 4px;
    }

    &:hover &__input ~ &__checkmark {
        border-color: $main_color;
    }

    &__input:checked ~ &__checkmark {
        border-color: $main_color;
    }

    &__checkmark:after {
        content: "";
        position: absolute;
        display: none;
        left: 6px;
        top: 4px;
        width: 4px;
        height: 6px;
        border-style: solid;
        border-width: 0 2px 2px 0;
        border-image-slice: 1;
        border-image-source: $main_gradient;

        @include transform(rotate(45deg));
    }

    &__input:checked ~ &__checkmark:after {
        display: block;
    }


   // ============ RICH ============

   &_rich &__label {
       font-weight: bold;
       color: $third_color_75;
   }




    // ============ TOGGLE ============

    &_toggle {
        padding-left: 50px;
    }

    &_toggle &__input {
        width: 40px;
    }

    &_toggle &__label {
        color: $third_color_75;
    }

    &_toggle &__checkmark {
        width: 40px;
        border-radius: 10px;
    }

    &_toggle &__checkmark:after {
        display: block;
        content: "";
        position: absolute;
        left: 3px;
        top: 3px;
        width: 12px;
        height: 12px;
        border: none;
        border-radius: 10px;
        background: $third_color_25;
        transform: rotate(0);

        transition: left .2s ease-in-out;
    }

    &_toggle &__input:checked ~ &__checkmark:after {
        left: 23px;
        background: $main_gradient;
    }
}