@import '../../globals/styles';

.price-range {
    @extend %font_additional;
    color: $third_color_50;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__prices {
        line-height: 15px;
    }

    &__slider {
        margin-top: 19px;
    }

    &__info {
        margin-top: 10px;
        line-height: 14px;
    }
}