@import '../../globals/styles';

.title {
    text-decoration: none;

    &_h1 {
        @extend %font_title_h1;
        color: $third_color;
    }

    &_h2 {
        @extend %font_title_h2;
        color: $third_color;
    }

    &_h3 {
        @extend %font_title_h3;
        color: $third_color;
    }
}