@import '../_globals/globals';

.title {
    text-decoration: none;

    &_h1 {
        @extend %font_title;
        color: $third_color;
        font-size: 24px;
        line-height: 30px;
        text-transform: none;
    }

    &_h2 {
        @extend %font_title;
        color: $third_color;
        font-size: 19px;
        line-height: 24px;
        text-transform: none;
    }

    &_h3 {
        @extend %font_additional;
        font-weight: bold;
        color: $third_color;
        line-height: 15px;
        text-transform: uppercase;
    }
}