mixin outputDropdown(placeholder)
    .output-dropdown&attributes(attributes)
        .output-dropdown__container
            .output-dropdown__display
                .output-dropdown__output.text= placeholder
                .output-dropdown__expand-icon.material-icons expand_more
            .output-dropdown__content
                block