@import '../../globals/styles';

.calendar-card {
    width: 320px;
    box-sizing: border-box;
    padding: 19px 0 15px 0;
    background: #FFFFFF;
    border: 1px solid $third_color_25;
    box-shadow: $main_box_shadow;
    border-radius: 4px;
    overflow: hidden;


    &__container {
        width: 280px;
        margin: 0 auto;
    }

    &__btns {
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
    }


    &__reset-btn_hidden {
        visibility: hidden;
    }
}