mixin dateInput(inputAttributes={})
    -
        inputAttributes.placeholder = 'ДД.ММ.ГГГГ';
        inputAttributes.type = 'text';

    .date-input&attributes(attributes)
        +textInput(inputAttributes)
        