@import '../_globals/globals';

.quantitative-item {
    @extend %font_additional;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    color: $third_color;

    &__control {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__label {
        line-height: 14px;
        padding: 7px 0 9px 0;       // во славу пиксель перфекта
    }

    &__quantity {
        width: 10px;
        padding: 0 12px;
    }

    &__input {
        position: absolute;
        z-index: -1;
        visibility: hidden;
        height: 1px;
        width: 1px;
        border: none;
    }

    &__btn {
        box-sizing: border-box;
        font-size: 18px;
        font-weight: normal;
        color: $third_color_50;
        text-align: center;
        line-height: 28px;
        width: 30px;
        height: 30px;
        background: inherit;
        border: 1px solid $third_color_25;
        border-radius: 50%;
        cursor: pointer;
    }


    &__btn_disabled {
        opacity: 0.38;
        cursor: auto;
    }
}