mixin quantitativeItem(options)
    #{options.tag ? options.tag : 'div'}.quantitative-item&attributes(attributes)
        .quantitative-item__label= options.label
        .quantitative-item__control
            .quantitative-item__btn.quantitative-item__btn_disabled.quantitative-item__btn_minus -
            output(name=options.name).quantitative-item__quantity 0
            .quantitative-item__btn.quantitative-item__btn_plus +