@import '../../globals/styles';

.sidebar {
    position: relative;
    box-sizing: border-box;

    &_fixed {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;

        z-index: 999;
        // border-right: 1px solid $third_color_10;
        // box-shadow: $main_box_shadow;

        transition: width 0s linear .3s;
    }

    &_fixed#{& + '_open'} {
        transition-delay: 0s;
        width: 100%;
    }


    // BUTTON

    &__btn {
        display: none;
        height: 160px;
        width: 34px;
        box-sizing: border-box;

        position: absolute;
        z-index: 2;
        top: calc(50% - 80px);
        left: 0;

        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: $third_color_10 $third_color_10 $third_color_10 #ffffff;
        border-radius: 0 4px 4px 0;
        background: #ffffff;
        box-shadow: $main_box_shadow;
        cursor: pointer;

        transition: left .3s linear 0s;
    }

    &_fixed &__btn {
        display: block;
    }

    &__btn-text {
        @extend %font_additional;
        font-weight: bold;
        color: $third_color;
        position: absolute;
        top: 68px;
        left: -20px;
        text-transform: uppercase;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    &__btn-text::after {
        @extend %material-icons;
        content: "expand_more";
        position: absolute;
        top: -4px;
        left: 100%;
        transform: rotate(180deg);
    }

    &_fixed#{& + '_open'} &__btn-text::after {
        transform: rotate(0deg);
    }


    // CONTENT

    &_fixed &__scrollable-container::-webkit-scrollbar {
        display: none;
    }

    &_fixed &__scrollable-container {
        position: relative;
        width: 100%;
        height: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow: hidden;
    }

    &_fixed#{& + '_open'} &__scrollable-container {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__content {
        height: auto;
        width: auto;

        transition: right .3s linear 0s;
    }

    &_fixed &__content {
        position: absolute;
        top: 0;
        right: 100%;
        z-index: 3;
        background: #ffffff;
    }
}