mixin rateButton(value)
    .rate-button&attributes(attributes)
        .rate-button__star.material-icons
        .rate-button__star.material-icons
        .rate-button__star.material-icons
        .rate-button__star.material-icons
        .rate-button__star.material-icons