mixin dropdown(placeholder)
    .dropdown&attributes(attributes)
        .dropdown__container
            .dropdown__display
                .dropdown__output.text= placeholder
                .dropdown__expand-icon.material-icons expand_more
            .dropdown__content
                block