mixin dropdown(placeholder)
    .dropdown&attributes(attributes)
        .dropdown__container
            .dropdown__display
                .dropdown__output= placeholder
            .dropdown__content
                block