mixin filterDateDropdown(options={})
    - var value = options.value || '';

    .filter-date-dropdown&attributes(attributes)
        .filter-date-dropdown__label.title.title_h3 Даты пребывания в отеле
        .filter-date-dropdown__output
            +output({ placeholder: 'Выберете даты', value: value, expandable: true })
        .filter-date-dropdown__calendar-card.dropdown
                +calendarCard()