mixin header(options={})
    .header&attributes(attributes)
        .header__container
            .header__logo
                +logo({text: true})
            nav.header__nav
                ul.header__nav-list
                    li.header__nav-item.header__nav-item_current О нас
                    li.header__nav-item.header__nav-item_expandable Услуги
                    li.header__nav-item Вакансии
                    li.header__nav-item Новости
                    li.header__nav-item.header__nav-item_expandable Соглашения
            if options.user
                .header__user-block
                    .header__separator
                    .header__username= options.user
            else
                .header__sign-block
                    .header__sign-in-btn
                        +button('Войти', { second: true, height: 34, width: 87 })
                    .header__sign-up-btn
                        +button('Зарегистрироваться', { height: 34, width: 196 })