<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title Cards
    body.body
        .main-container
            .card-page
                .card-page__logo
                    +logo()
                .card-page__container
                    .card-page__column
                        .card-page__item
                            +roomSearchCard()
                        .card-page__item
                            +registrationCard()
                    .card-page__column
                        .card-page__item
                            -
                                var roomDetails = {
                                    number: 888,
                                    class: 'люкс',
                                    price: 9990,
                                    dates: ['19.08.2019', '23.08.2019']
                                }

                            +bookingCard(roomDetails)
                        .card-page__item
                            +signInCard()
                    .card-page__column
                        .card-page__item
                            +calendarCard()
                        .card-page__item
                            -
                                var roomDetails = {
                                    number: 888,
                                    class: 'люкс',
                                    price: 9990,
                                    reviewsNumber: 145,
                                    images: ['images/room1.jpg', 'images/room2.jpg', 'images/room3.jpg', 'images/room4.jpg']
                                }

                            +roomCard(roomDetails)

                        .card-page__item
                            div(style="height: 150px")
                                +imageGallery(['images/room1.jpg', 'images/room2.jpg', 'images/room3.jpg', 'images/room4.jpg'], { loop: false, slideshow: true, slideshowSpeed: 0.25 })

