mixin roomCard(details)
    -
        function valueToString(value) {
            value = String(value);
            var result = value.slice(-3);

            for (var i = -3; i > -value.length; i -= 3) {
                result = value.slice(i - 3, i) + ' ' + result;
            }

            return result;
        }

        var images = details.images || [];

    .room-card&attributes(attributes)
        .room-card__room-appearance
            .room-card__image-container
                +imageSlider(images, { loop: true })
            .room-card__bullet-btn-container
            .room-card__prev-image-btn
            .room-card__next-image-btn
        .room-card__container
            .room-card__info
                    .room-card__number-sign №
                    .room-card__room-number #{details.number}
                    .room-card__room-class #{details.class}
                    .room-card__price #{valueToString(details.price)}₽
                    .room-card__per-day в сутки
            .room-card__rate-reviews
                +rateButton(details.rating)
                .room-card__reviews #[span.room-card__reviews-number #{details.reviewsNumber}] Отзывов