@import '../../globals/styles';

.room-card {
    width: 270px;
    height: 257px;

    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: $main_box_shadow;
    border-radius: 4px;
    overflow: hidden;

    &__room-appearance {
        position: relative;
        width: 100%;
        height: 151px;
    }

    &__image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__prev-image-btn,
    &__next-image-btn {
        position: absolute;
        z-index: 2;
        top: 0;
        height: 100%;
        width: 42px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
        cursor: pointer;
    }

    &__prev-image-btn::after,
    &__next-image-btn::after {
        @extend %material-icons;
        content: "expand_more";
        transform: rotate(90deg);
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        margin-top: -12px;
        color: #FFFFFF;
        font-size: 24px;
        line-height: 24px;
    }

    &__prev-image-btn {
        left: 0;
    }

    &__next-image-btn {
        right: 0;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }


    &__bullet-btn-container {
        position: absolute;
        z-index: 3;
        bottom: 15px;
        right: 15px;
        display: flex;
    }

    &__bullet-btn {
        width: 7.5px;
        height: 7.5px;

        border: 1px solid #FFFFFF;
        border-radius: 50%;
        box-sizing: border-box;

        cursor: pointer;
    }

    &__bullet-btn_active {
        background: #FFFFFF;
        pointer-events: none;
    }

    &__bullet-btn + &__bullet-btn {
        margin-left: 3.75px;
    }

    &__container {
        width: 230px;
        margin: 0 auto;
        color: $third_color_50;
    }

    &__info {
        display: flex;
        align-items: baseline;
        margin-top: 21px;
        padding-bottom: 7px;
        border-bottom: 1px solid $third_color_10;
    }

    &__room-number-class {
        color: $third_color;
    }

    &__number-sign {
        color: $third_color;
    }

    &__room-number {
        @extend %font_title;
        font-size: 19px;
        line-height: 24px;
        color: $third_color;
        margin-left: 5px;
    }

    &__room-class {
        @extend %font_additional;
        text-transform: uppercase;
        font-weight: bold;
        color: $main_color;
        margin-left: 5px;
    }



    &__price,
    &__per-day {
        @extend %font_additional;
        font-size: 14px;
        line-height: 18px;
        color: $third_color_50;
    }

    &__price {
        font-size: 14px;
        margin-left: auto;
        font-weight: bold;
        margin-right: 4px;
    }

    &__per-day {
        font-size: 12px;
        margin-right: -3px;
    }

    &__rate-reviews {
        @extend %font_body;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 18px;
        margin-top: 8px;
    }

    &__reviews-number {
        font-weight: bold;
    }
}