mixin datePicker(options={})
    - var dates = options.dates || [];
    .date-picker
        .date-picker__outputs
            .date-picker__arrival
                .date-picker__label.title.title_h3 Прибытие
                +output({ placeholder: 'ДД.ММ.ГГГГ', value: dates[0], expandable: true })
            .date-picker__departure
                .date-picker__label.title.title_h3 Выезд
                +output({ placeholder: 'ДД.ММ.ГГГГ', value: dates[1], expandable: true })
        .date-picker__calendar-card
            +hideableBlock({ animation: 'emerging' })
                +calendarCard()