@import '../../globals/styles';

.date-picker {
    max-width: 320px;
    position: relative;

    &__outputs {
        display: flex;
        justify-content: space-between;
    }

    &__label {
        margin-bottom: 5px;
    }

    &__arrival,
    &__departure {
        width: 150px;
    }

    &__calendar-card {
        position: absolute;
        margin-top: 6px;
    }
}