.checkbox-buttons {
    &__label {
        padding: 0;
        margin: 0 0 2px 0;
    }

    &__item {
        white-space: nowrap;
        height: 20px;
        padding: 0;
        margin-top: 12px;
    }
}