include ../../common.blocks/checkbox/checkbox.pug

mixin checkboxButtons(label)
    .checkbox-buttons
        .checkbox-buttons__label.title.title_h3= label ? label : 'Checkbox Buttons'
        .checkbox-buttons__item
            +checkbox('Можно курить')
        .checkbox-buttons__item
            +checkbox('Можно с питомцами')
        .checkbox-buttons__item
            +checkbox('Можно пригласить друзей (до 10 человек)')